<!DOCTYPE html>
<html>
  <head>
    <title>Book Form</title>
  <style>
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      width: 50%;
      margin: 0 auto;
    }

      input[type="text"],
      select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 16px;
        text-align: center;
      }

    body {
      background-color: #f1f1f1;
    }

    .secondary-button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }

    .secondary-button:hover {
        background-color: #45a049;
    }

    .first-button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }

    .first-button:hover {
        background-color: #45a049;
    }

  </style>
  </head>
  <body>
    
    <form onsubmit="updateData()">
      <button type="button" onclick="getData()" class="secondary-button">Check for Id Card</button>
      <input type="text" id="book_id" name="book_id" value="<%= book[0].book_id %>" required readonly>

      <label for="title">Title:</label>
      <input type="text" id="title" name="title" value="<%= book[0].title %>" required>
      
      <label for="category">Category:</label>
      <select id="category" name="category" required>
        <option value="">Select a category</option>
        <option value="Fiction" <%= book[0].category === 'Fiction' ? 'selected' : '' %>>Fiction</option>
        <option value="Non-Fiction" <%= book[0].category === 'Non-Fiction' ? 'selected' : '' %>>Non-Fiction</option>
        <option value="Children's" <%= book[0].category === "Children's" ? 'selected' : '' %>>Children's</option>
      </select>
      
      <label for="author">Author:</label>
      <input type="text" id="author" name="author" value="<%= book[0].author %>" required>
      
      <label for="publisher">Publisher:</label>
      <input type="text" id="publisher" name="publisher" value="<%= book[0].publisher %>" required>
      
      <label for="year_published">Year Published:</label>
      <input type="text" id="year_published" name="year_published" value="<%= book[0].year_published %>" required>
      <br>
      <button type="submit" class="first-button">Update Data</button>
    </form>
    <script>
        function getData() {
          fetch('/api/id_card')
          .then(response => response.json())
          .then(data => {
              const bookIdInput = document.getElementById('book_id');
              bookIdInput.value = data.id;
          });
        }

        function updateData(){
          const book_id = document.getElementById("book_id").value;
          const title = document.getElementById("title").value;
          const category = document.getElementById("category").value;
          const author = document.getElementById("author").value;
          const publisher = document.getElementById("publisher").value;
          const year_published = document.getElementById("year_published").value;
          const data = { book_id, title, category, author, publisher, year_published };

          fetch('/update', {
            method: 'PUT',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
          })
          .then(res => res.json())
          .then(data => {
            console.log("test");
            console.log(data.success);
            if(data.success === true){
              console.log('Data edited Successfully!');
              window.location.href = '/list';
            } else {
              console.log('Data edit Failed!');
            }
          })
          .catch(err => console.log(err));
        }
    </script>
  </body>
</html>
