<%- include('templates/header') %>
<div id="overlay" class="d-flex justify-content-center align-items-center gap-3 d-none">
  <div class="spinner-grow" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <span>Looking For Scan..</span>
</div>
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6 p-4 shadow-sm form-container">
      <div id="overlay" class="bg-primary z-1 position-absolute">
        <div class="d-flex justify-content-center">
          <div class="spinner-border" role="status">
          </div>
        </div>
      </div>
      <h3 class="text-center fw-bold">Edit Book</h3>
      <hr class="border-light mt-0 border-3">
      <form onsubmit="updateData()" class="form">

        <div class="input-group mb-3">
          <button id="check" class="btn btn-outline-info border-end-0" style="width:150px" type="button" onclick="getData()">
            <i class="fa-brands fa-nfc-symbol"></i> Scan Book
          </button>
          <input type="text" class="form-control border-info" id="book_id" name="book_id" value="<%= book[0].book_id %>" required readonly>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text bg-primary text-white" style="width:150px" id="basic-addon1">Title</span>
          <input type="text" class="form-control" placeholder="Input title.." id="title" name="title" value="<%= book[0].title %>" required>
        </div>

        <div class="input-group mb-3">
          <label class="input-group-text bg-success text-white" style="width:150px" for="inputGroupSelect01">Category</label>
          <select class="form-select" name="category" id="category" required>
            <option value="">Select a category</option>
        <option value="Fiction" <%= book[0].category === 'Fiction' ? 'selected' : '' %>>Fiction</option>
        <option value="Non-Fiction" <%= book[0].category === 'Non-Fiction' ? 'selected' : '' %>>Non-Fiction</option>
        <option value="Children's" <%= book[0].category === "Children's" ? 'selected' : '' %>>Children's</option>
          </select>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text bg-danger text-white" style="width:150px" id="basic-addon1">Author</span>
          <input type="text" class="form-control" placeholder="Input author.." name="author" id="author" value="<%= book[0].author %>" required>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text bg-warning text-black" style="width:150px" id="basic-addon1">Publisher</span>
          <input type="text" class="form-control" placeholder="Input publisher" id="publisher" name="publisher" value="<%= book[0].publisher %>" required>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text bg-light text-black" style="width:150px" id="basic-addon1">Year Published</span>
          <input type="text" class="form-control" placeholder="Input year published" id="year_published" name="year_published" value="<%= book[0].year_published %>" required>
        </div>

        <div class="d-flex justify-content-end gap-3">
          <a class="btn btn-outline-warning" href="/list"><i class="fas fa-rotate-left"></i> Back to List Page</a>
          <button type="submit" class="btn btn-outline-light"><i class="fas fa-edit"></i> Edit Book</button>
        </div>
      </form>
    </div>
  </div>
</div>
    <script>
      showSpinner("hide");
      
        function getData() {
          fetch('/api/id_card')
          .then(response => response.json())
          .then(data => {
              const bookIdInput = document.getElementById('book_id');
              bookIdInput.value = data.id;
          });
        }

        function updateData(){
          const book_id = document.getElementById("book_id").value;
          const title = document.getElementById("title").value;
          const category = document.getElementById("category").value;
          const author = document.getElementById("author").value;
          const publisher = document.getElementById("publisher").value;
          const year_published = document.getElementById("year_published").value;
          const data = { book_id, title, category, author, publisher, year_published };

          fetch('/update', {
            method: 'PUT',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
          })
          .then(res => res.json())
          .then(data => {
            console.log("test");
            console.log(data.success);
            if(data.success === true){
              console.log('Data edited Successfully!');
              window.location.href = '/list';
            } else {
              console.log('Data edit Failed!');
            }
          })
          .catch(err => console.log(err));
        }

        function showSpinner(status) {
        if (status == "hide"){
          document.getElementById("overlay").classList.add("d-none");
          document.getElementById("check").innerHTML = `<i class="fa-solid fa-brands fa-nfc-symbol"></i> Scan Book`;
        } else {
          document.getElementById("overlay").classList.remove("d-none");
          document.getElementById("check").innerHTML = `<span class="text-info">Loading...</span>`;
        }
      }
    </script>

<%- include('templates/footer') %>
