<%- include('templates/header') %>

<div class="container mt-4">
    <div class="d-flex">
      <h4 class="fw-bold text-color">Book Lists</h4>
    </div>

    <hr class="border-light mt-0 border-3">

    <div class="row justify-content-center">
      <div class="col-lg-2 d-flex flex-column gap-3 mb-4">
        <a href="/create" class="btn btn-outline-success"><i class="fa-solid fa-plus"></i> Add Book</a>
        <a href="/view" class="btn btn-outline-primary"><i class="fa-brands fa-nfc-symbol"></i> Scan ID</a>
      </div>
      <div class="col-lg-9">
        <div class="row justify-content-center">

          <% books.forEach(function(book) { %>
            
          <div class="col-md-4 mb-4">
            <div class="card book-card border-primary-subtle shadow-sm">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <% if(book.category == "Fiction") { %>
                    <h5 class="card-title book-category-fiction"><%= book.category %></h5>
                  <% } else { %>
                    <h5 class="card-title book-category-non-fiction"><%= book.category %></h5>
                  <% } %>
                  
                  <span class="badge">ID : <%= book.book_id %></span>
                </div>
                <p class="card-text text-color"><%= book.title %></p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item book-list"><i class="fa-solid fa-user-pen"></i> : <%= book.author %></li>
                <li class="list-group-item book-list"><i class="fa-solid fa-bullhorn"></i> : <%= book.publisher %></li>
                <li class="list-group-item book-list"><i class="fa-solid fa-calendar-plus"></i> : <%= book.year_published %></li>
              </ul>
              <div class="card-body d-flex justify-content-end gap-2">
                <a href="/edit/<%= book.book_id %>"class="btn btn-outline-warning"><i class="fas fa-edit"></i></a>
                <button onclick="deleteBook('<%= book.book_id %>')" class="btn btn-outline-danger"><i class="fas fa-trash"></i></button>
              </div>
            </div>
          </div>
          <% }); %>

        </div>
      </div>
    </div>
    
    <script>
   function deleteBook(id) {
        fetch('/delete', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ id: id })
        })
        .then(res => res.json())
        .then(data => {
            if (data.affectedRows > 0) {
                console.log('Data Deleted Successfully!');
                location.reload();
            } else {
                console.log('Data Deletion Failed!');
            }
        })
        .catch(err => console.log(err));
    }
    </script>
</div>
<%- include('templates/footer') %>